body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(150, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}
body, html {
    height: 100%;
}

.container {
    background-color: black;
    width: 400px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap:5px;
    border: solid 5px black;
    box-shadow: 0 0 3px 3px gray;
}

.display {
    display: flex;
    background-color: rgb(185, 185, 185);
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
    width:390px;
    font-size: 80px;
    font-weight: 600;
    text-align: end;
    padding: 5px;
    justify-content: flex-end;
    align-items: center;
}

button {
    font-size: 40px;
    font-weight: 600;
}

.zero {
    grid-row: 6/ span 1;
    grid-column: 1 / span 2;
}
